.app {
  display: flex;
}
.main {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.konten {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.peta {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  background-color: steelblue;
}
